Source: ros-galactic-embree-vendor
Section: misc
Priority: optional
Maintainer: masaya <ms.kataoka@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libglfw3-dev, libtbb-dev, pkg-config, ros-galactic-ament-cmake, ros-galactic-ament-lint-auto, ros-galactic-ament-lint-common, ros-galactic-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-embree-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglfw3-dev, libtbb-dev, pkg-config, ros-galactic-ros-workspace
Description: vendor packages for intel raytracing kernel library
